.header {
    padding-top: 1.5rem;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__title {
    font-size: 7.8rem;
    font-weight: 500;
    line-height: 11.7rem;
    text-align: center;
}

.header__userName {
    margin-left: auto;
    font-size: 3rem;
    line-height: 4.5rem;
}

.header__tasksWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.header__tasks {
    font-size: 3rem;
    line-height: 4.5rem;
    text-decoration: underline;
}

.header__tasksError {
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.header__userImgLink {
    margin-left: 2rem;
}

.header__userImg {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}