@import url('../../styles/variables.css');

.spinner {
    position: relative;

    width: 5rem;
    height: 5rem;

    border: 0.8rem solid var(--little-boy-blue);
    border-radius: 50%;

    animation: spinner-anim 2s infinite linear;
}

/* добавить адаптив на мобилке */

.spinner_small {
    width: 4rem;
    height: 4rem;
    border-width: 0.7rem;
}

.spinner_extrasmall {
    width: 3.5rem;
    height: 3.5rem;
    border-width: 0.6rem;
}

.spinner::before {
    content: '';

    position: absolute;
    top: -0.7rem;
    left: 1.4rem;

    width: 0.6rem;
    height: 0.6rem;

    background-color: var(--eggshell);
    border-radius: 50%;
}

/* добавить адаптив на мобилке */

.spinner_small::before {
    top: -0.6rem;
}

.spinner_extrasmall::before {
    top: -0.5rem;
    left: 1.3rem;
    width: 0.5rem;
    height: 0.5rem;
}

.spinnerWrapper {
    display: flex;
    justify-content: center;
}

@keyframes spinner-anim {
    100% {
        transform: rotate(360deg);
    }
}

@media (width <=1439px) {
    .spinner {
        width: 4rem;
        height: 4rem;
        border: 0.6rem solid var(--little-boy-blue);
    }

    .spinner::before {
        top: -0.6rem;
    }
}