.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.img {
    width: 100%;
    max-width: 40rem;
    max-height: 40rem;
    box-shadow: var(--default-box-shadow);
}