@import url('@styles/variables.css');
@import url('@styles/animations.css');

.spinner {
    position: relative;

    width: 5rem;
    height: 5rem;

    border: 0.8rem solid var(--little-boy-blue);
    border-radius: 50%;

    animation: spinner-anim 2s infinite linear;
}

.spinner_small {
    width: 4rem;
    height: 4rem;
    border-width: 0.7rem;
}

.spinner_extrasmall {
    width: 3.5rem;
    height: 3.5rem;
    border-width: 0.6rem;
}

.spinner::before {
    content: '';

    position: absolute;
    top: -0.7rem;
    left: 1.4rem;

    width: 0.6rem;
    height: 0.6rem;

    background-color: var(--eggshell);
    border-radius: 50%;
}

.spinner_small::before {
    top: -0.6rem;
}

.spinner_extrasmall::before {
    top: -0.5rem;
    left: 1.3rem;
    width: 0.5rem;
    height: 0.5rem;
}

.wrapper {
    display: flex;
    justify-content: center;
}

@media (width <=1439px) {
    .spinner {
        width: 4rem;
        height: 4rem;
        border-width: 0.6rem;
    }

    .spinner_small {
        width: 3.5rem;
        height: 3.5rem;
        border-width: 0.6rem;
    }

    .spinner_extrasmall {
        width: 3rem;
        height: 3rem;
        border-width: 0.5rem;
    }

    .spinner::before {
        top: -0.6rem;
    }

    .spinner_small::before {
        top: -0.5rem;
        left: 1.3rem;
        width: 0.5rem;
        height: 0.5rem;
    }

    .spinner_extrasmall::before {
        top: -0.4rem;
    }
}

@media (width <=575px) {
    .spinner {
        width: 3.5rem;
        height: 3.5rem;
        border-width: 0.6rem;
    }

    .spinner_small {
        width: 3rem;
        height: 3rem;
        border-width: 0.5rem;
    }

    .spinner_extrasmall {
        width: 2.5rem;
        height: 2.5rem;
        border-width: 0.4rem;
    }

    .spinner::before {
        top: -0.5rem;
        left: 1.3rem;
        width: 0.5rem;
        height: 0.5rem;
    }

    .spinner_small::before {
        top: -0.4rem;
    }

    .spinner_extrasmall::before {
        top: -0.2rem;
        width: 0.4rem;
        height: 0.4rem;
    }
}