@import url('@styles/variables.css');

.container {
    padding-right: 2rem;
    padding-left: 2rem;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding-right: 1rem;
    padding-left: 1rem;
}

@media (width <=575px) {
    .container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}