@import url('@styles/animations.css');

.container {
    padding-right: 2rem;
    padding-left: 2rem;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: start;

    padding-right: 1rem;
    padding-left: 1rem;
}

.username {
    font-size: 2.6rem;
    line-height: 3.9rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;

    width: 100%;
    max-width: 30rem;
}

.result {
    font-size: 1.6rem;
    line-height: 2.4rem;
    animation: fade-to-left 3.5s linear forwards;
}

.buttonsWrapper {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    width: 100%;
    margin-top: 2rem;
}

.logOut {
    margin-top: 3rem;
}

@media (width <=575px) {
    .container {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .username {
        font-size: 2.2rem;
        line-height: 3.3rem;
    }

    .result {
        font-size: 1.4rem;
        line-height: 2.1rem;
    }

    .logOut {
        margin-top: 2rem;
    }
}

@media (width <=375px) {
    .buttonsWrapper {
        flex-direction: column;
        align-items: baseline;
    }
}