@import url('@styles/variables.css');
@import url('@styles/animations.css');

.item {
    display: flex;
    column-gap: 3rem;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.item:not(:first-child) {
    padding-top: 1.5rem;
    border-top: 1px solid var(--little-boy-blue);
}

.task {
    display: flex;
    column-gap: 1.5rem;
    width: 100%;
}

.description {
    cursor: unset;
    user-select: text;

    width: 100%;

    text-align: left;
    word-break: break-all;
}

.descriptionWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.descriptionNote {
    font-size: 1.6rem;
    line-height: 2.4rem;
    animation: fade-to-left 4s linear forwards;
}

.form {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    width: 100%;
}

.input {
    width: 100%;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.buttons {
    display: flex;
    column-gap: 3rem;
    height: 3rem;
}

.button {
    will-change: transform;
    width: 3rem;
    height: 3rem;
    transition: transform 0.2s;
}

.button_active .buttonImg_favourite path {
    fill: var(--little-boy-blue);
}

.buttonImg {
    width: 3rem;
    height: 3rem;
}

.buttonImg_favourite {
    stroke: #000;
}

.buttonImg_favourite path {
    fill: var(--eggshell);
}

@media (width >=992px) {
    .button:hover {
        transform: scale(1.1);
    }

    .button:active {
        opacity: 0.5;
    }
}

@media (width <=575px) {
    .item {
        flex-direction: column;
        gap: 2rem;
    }

    .buttonImg {
        width: 2.5rem;
        height: 2.5rem;
    }
}