:root {
    --light-steel-blue: #bcd3f2;
    --deep-space-sparkle: #395c6b;
    --little-boy-blue: #80a4ed;
    --medium-champagne: #dcd5a7;
    --eggshell: #e6e1c5;
    --box-shadow: .5rem .5rem .5rem 0 rgb(0 0 0 / 20%);
}