.login__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
}

.login__submit {
    margin-top: 2rem;
}